@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply font-inter;
        margin: 0;
        padding: 0;
        background-color: #E9EBF7;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input,
    textarea{
        outline: none;
        font-size: 14px;
    }
    .success input[type="radio"]{
       height: 17px;
       width: 17px;
       accent-color: #08A03C;
    }
    .danger input[type="radio"]{
        height: 17px;
        width: 17px;
        accent-color: #EE3E3E;
     }
    select {
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        appearance: none;
    }

    /* ... */
  :root {
        --radius: 0.5rem;
    }
}

@layer utilities {
    .modal-container {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.80);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .small-container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 15px;

        @media (min-width: theme('screens.sm')) {
            padding: 0;
        }
    }
    .sidebar-link:hover svg path{
        fill: #232946;
    }
    .sidebar-link.on svg path{
        fill: #232946;
    }
    .sidebar-link h6{
        color: white;
    }
    .sidebar-link.on h6 {
        color: #232946;
    }
    .truncate{
        text-overflow: ellipsis;
        /* width: 100%; */
    }

}